body, html { font-family: 'Gudea', sans-serif; color: #5b5959; font-size: 12px; }
h1 { font-size: 24px; color: green; }
.logotext { font-family: 'Damion', cursive; }
.glyphicon, .fa { color: #FFF; font-size: 24px; }